@import './reset.css';

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  color: black;
  font-family: Sans-Serif;
  background-color: #dbdbdb;
}

* {
  box-sizing: border-box; 
  outline: 0;
}

:root {
  --chat-container-width: 30rem;
  --chat-container-bg-color: #ffffff;
}

#scene-container {
  position: fixed;
  width: calc(100% - var(--chat-container-width));
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #dbdbdb;
  border-right: 1px solid black!important;
}

canvas:focus {
  outline: 0!important;
}

#chat-container {
  position: fixed;
  right: 0;
  top: 0;
  width: var(--chat-container-width);
  height: 100%;
  background-color: var(--chat-container-bg-color);
  padding: 20px;
}
